export("evaluateYield","complete_sweeps","read_Haake_Rheowin_text_file","fitPolynomialModelGprimeConcentration", "logpolynomial_model", "polynomial_model", "wall_fraction")

importFrom("stats", "approx", "coefficients", "nls", "nls.control",
             "uniroot")
importFrom("utils", "read.table", "sessionInfo")             